[submodule "nvim/bundles/vim-colors-solarized"]
	path = nvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "nvim/bundles/vim-ruby"]
	path = nvim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "nvim/bundle/vim-git"]
	path = nvim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "nvim/bundle/vim-fugitive"]
	path = nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/bundle/tabular"]
	path = nvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "nvim/bundle/vim-surround"]
	path = nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/bundle/textile.vim"]
	path = nvim/bundle/textile.vim
	url = https://github.com/timcharper/textile.vim.git
[submodule "nvim/bundle/vim-javascript"]
	path = nvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "nvim/bundle/vim-haml"]
	path = nvim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "nvim/bundle/vim-coffee-script"]
	path = nvim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "nvim/bundle/indent-object"]
	path = nvim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "nvim/bundle/argtextobj"]
	path = nvim/bundle/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "nvim/bundle/textobj-user"]
	path = nvim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "nvim/bundle/textobj-rubyblock"]
	path = nvim/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "nvim/bundle/pathogen"]
	path = nvim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "nvim/bundle/ack"]
	path = nvim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "nvim/bundle/puppet"]
	path = nvim/bundle/puppet
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "nvim/bundle/keepcase"]
	path = nvim/bundle/keepcase
	url = https://github.com/vim-scripts/keepcase.vim
[submodule "nvim/bundle/syntastic"]
	path = nvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "nvim/bundle/vim-easymotion"]
	path = nvim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "nvim/bundle/vim-repeat"]
	path = nvim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "nvim/bundle/L9"]
  path = nvim/bundle/L9
  url = https://github.com/vim-scripts/L9.git
[submodule "nvim/bundle/vim-rails"]
	path = nvim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "nvim/bundle/ctrlp"]
	path = nvim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "nvim/bundle/html5"]
	path = nvim/bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "nvim/bundle/vimux"]
	path = nvim/bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "nvim/bundle/vim-vroom"]
	path = nvim/bundle/vim-vroom
	url = git://github.com/skalnik/vim-vroom.git
[submodule "nvim/bundle/YouCompleteMe.git"]
	path = nvim/bundle/YouCompleteMe.git
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "nvim/bundle/vim-commentary"]
	path = nvim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "nvim/bundle/nerdtree"]
	path = nvim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "sack"]
	path = sack
	url = git@github.com:morhekil/sack.git
[submodule "nvim/bundle/vim-rake"]
	path = nvim/bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "nvim/bundle/vim-bundler"]
	path = nvim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "nvim/bundle/flake8"]
	path = nvim/bundle/flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "nvim/bundle/vim-scala"]
	path = nvim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "nvim/bundle/vim-mustache-handlebars"]
	path = nvim/bundle/vim-mustache-handlebars
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "nvim/bundle/vim-go"]
	path = nvim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "nvim/bundle/vim-ansible-yaml"]
	path = nvim/bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
